body {
    background-color: #232323;
}

.board {
    background-color: #344d33;
    aspect-ratio: 1 / 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    gap: 2px;
}

.board.flip {
    transform: rotate(180deg);
}

.row {
    display: flex;
    flex: 1;
    gap: 2px;
}

.bar {
    width: 8%;
    height: 100%;
    background-color: #275a2c;
    display: flex;
    flex-direction: column;
}

.bar.bottom {
    flex-direction: column-reverse;
}

.side {
    display: flex;
    flex: 1;
    gap: 2px;
}

.triangle {
    flex: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* alternating triangle colors using nth-child */
.triangle:nth-of-type(2n) {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23111' opacity='.3' viewBox='0 0 2 1' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 1,1 2,0'/%3E%3C/svg%3E");
}

.triangle:nth-of-type(2n-1) {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23777' opacity='.3' viewBox='0 0 2 1' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 1,1 2,0'/%3E%3C/svg%3E");
}

.triangle.down {
    transform: rotate(180deg);
}

.piece {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 2px auto;
    z-index: 10;
}

.piece.b {
    background: radial-gradient(#333, #000);
    border: 1px solid #666;
}

.piece.w {
    background: radial-gradient(#8f8e8e, #474747);
    border: 1px solid #aaa;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.spacer {
    height: 12vh;
    display: flex;
    justify-content: center;
}

.roll {
    background-color: #366810;
    box-shadow: 0 0 .1em 0 #000, inset 0 0 .1em 0 rgba(255, 255, 255, .4);
    border-radius: .5em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    color: #bbb;
}

.bar.center {
    display: flex;
    flex-direction: column;
    padding: 0 .3em;
    justify-content: space-between;
}

.roll:hover {
    background-color: #4d9545;
}

.dice-container {
    border-radius: .3em;
}

.grayed {
    background-color: gray;
}

.dice {
    display: none;
    border-radius: 0.5em;
}

.dice.visible {
    display: block;
}

.dice.double {
    background-color: yellowgreen;
}

.triangle.highlight {
    background-color: rgba(68, 189, 50, .3);
}

.box {
    height: 10em;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 .5em 0 #000;
    width: 100%;
}

.captured-piece {
    height: 7%;
    margin: 1%;
    box-shadow: 0 0 .3em 0 #000;
    display: block;
}

.captured-piece.b {
    background: linear-gradient(90deg, #111, #444, #111);
}

.captured-piece.w {
    background: linear-gradient(90deg, #1a1a1a, #a3a1a1, #1a1a1a);
}